$color_bg_white: #FFFFFF;
$color_bg_fill_1: dce123;
$color_bg_fill_2: #a8aa2a;
$color_bg_fill_3: #c2d52e;
$color_bg_fill_4: #f4f750;
$color_bg_fill_5: #929c9f;
$color_bg_fill_6: #f1f5fa;
$color_bg_fill_7: #f8fafc;
$color_bg_fill_8: #212628;
$color_bg_fill_9: #161a1b;
$color_bg_fill_10: #485153;
$color_bg_fill_11: #f8f8e7;
$color_bg_fill_12: #cecec2;
$color_bg_fill_13: #e8e8c0;

$color_bg_accent_1: #7196da;
$color_bg_accent_2: #658acf;
$color_bg_accent_3: #557dc8;
$color_bg_accent_4: #fc5a61;
$color_bg_accent_5: #ed4b52;
$color_bg_accent_6: #dc333a;
$color_bg_accent_7: #6dbdde;
$color_bg_accent_8: #42a7d1;
$color_bg_accent_9: #218db9;
$color_bg_accent_10: #6cc195;
$color_bg_accent_11: #61ba9c;
$color_bg_accent_12: #429d6d;

$color_bg_semantic_1: #f89d7d;
$color_bg_semantic_2: #f79273;
$color_bg_semantic_3: #ee7b58;
$color_bg_semantic_4: #7196da;
$color_bg_semantic_5: #b291be;
$color_bg_semantic_6: #9b7aa7;
$color_bg_semantic_7: #f9b975;
$color_bg_semantic_8: #fbab59;
$color_bg_semantic_9: #ea9031;
$color_bg_semantic_10: #94c2e7;
$color_bg_semantic_11: #7ab0db;
$color_bg_semantic_12: #64a0d2;

$color_text_white: #ffffff;
$color_text_black: #000000;
$color_text_white: #FFFFFF;
$color_text_fill_1: dce123;
$color_text_fill_2: #a8aa2a;
$color_text_fill_3: #c2d52e;
$color_text_fill_4: #f4f750;
$color_text_fill_5: #929c9f;
$color_text_fill_6: #f1f5fa;
$color_text_fill_7: #f8fafc;
$color_text_fill_8: #212628;
$color_text_fill_9: #161a1b;
$color_text_fill_10: #485153;
$color_text_fill_11: #f8f8e7;
$color_text_fill_12: #cecec2;
$color_text_fill_13: #e8e8c0;

$font_size_s: 12px;
$font_size_m: 14px;
$font_size_l: 16px;
$font_size_x: 18px;
$font_size_xl: 20px;
$font_size_xxl: 24px;

